<app-nav></app-nav>

<section class="grid">

  <article class="title" data-aos="fade-right">
    <img [src]="info.img" alt="">
    <div>
      <h1>{{info['job_title']}}</h1>
      <h2>{{info.name}}</h2>
      <h3>{{info.bio}}</h3>
    </div>
    <i routerLink="/about" class="fa-regular fa-circle-right"></i>
  </article>

  <article class="aim" data-aos="fade-left" data-aos-delay="100">
    <h2>
      {{info.aim}}
    </h2>
  </article>

  <article class="social" data-aos="fade-left" data-aos-delay="100">
    <a [href]="info.linkedin" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a [href]="info.facebook" target="_blank"><i class="fa-brands fa-facebook-f" ></i></a>
    <a [href]="info.insta" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </article>

  <article class="skills" data-aos="fade-up-right" data-aos-delay="400">
    <h2>Specialization</h2>
    <p>
      {{info.specialization}}
    </p>
  </article>

  <article class="education" data-aos="fade-up-right" data-aos-delay="300">
    <h2>Education</h2>
    <p>
      {{info['education_sum']}}
    </p>
  </article>

  <article class="let" data-aos="fade-up" data-aos-delay="600">
    <p>
      Let's <br>
      work <span>together</span>.
    </p>
    <i routerLink="/contact" class="fa-regular fa-circle-right"></i>
  </article>

  <article class="experience"  data-aos="fade-up" data-aos-delay="500">
    <h2>{{info['experience_years']}}</h2>
    <p>Years Experience</p>
  </article>

  <article class="cources" data-aos="fade-up" data-aos-delay="600">
    <h2>{{info['cert_numbers']}}</h2>
    <p>Trainings and certificates</p>
  </article>


</section>

<app-footer></app-footer>
