<nav data-aos="fade">

  <div class="start">
    <a routerLink="/home" class="logo">Abdelkhalek</a>

    <ul class="{{toggleNav? '':'display-none'}}">
      <li>
        <a routerLink="/home" [routerLinkActive]="['active']" (click)="toggleNav=false">Home</a>
      </li>
      <li>
        <a routerLink="/about" [routerLinkActive]="['active']" (click)="toggleNav=false">About</a>
      </li>
      <!-- <li>
        <a routerLink="/work" [routerLinkActive]="['active']" (click)="toggleNav=false">Work</a>
      </li> -->
      <li>
        <a routerLink="/contact" [routerLinkActive]="['active']" (click)="toggleNav=false">Contact</a>
      </li>
    </ul>
  </div>


  <div class="end" data-aos="fade" data-aos-delay="200">
    <button class="toggle" (click)="toggleNav = toggleNav? false:true "><i class="fa-solid fa-bars"></i></button>
    <a href="https://api.whatsapp.com/send/?phone=201128330707" class="talk"><span>Let's talk</span><i class="fa-brands fa-whatsapp"></i></a>
  </div>

</nav>
