nav{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
  gap: 10px;

  .start{
    display: flex;
    justify-content: space-around;
    width: 65%;
    .logo{
      font-family: 'Whisper', cursive;
      text-decoration: none;
      font-size: 35px;
      color: var(--foundation4);
    }
    ul{
      display: flex;
      gap: 40px;
      list-style: none;
      li{
        cursor: pointer;
        a{
          color: var(--foundation5);
          text-decoration: none;
          &.active{color: var(--foundation4);}
          &:hover{color: var(--foundation4);}
        }
      }
    }
  }

  .end{
    display: flex;
    align-self: flex-start;
    gap: 10px;
    .talk{
      background-color: var(--foundation2);
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      border: none;
      color:var(--foundation4);
      padding: 15px 30px;
      border-radius: 20px;
      &:hover{
        background-color: var(--foundation3);
      }
      i{
       display: none;
      }
    }
    .toggle{
      cursor: pointer;
      display: none;
      font-size: 25px;
      border: none;
      padding: 10px;
      background-color: transparent;
      color: white;
    }
    }

  }




@media only screen and (max-width: 992px) {

  nav{
    justify-content: space-between;

    .end{
      .toggle{
        display: block;
      }
      .talk{

        background: transparent;
        padding: 10px 0px;
        border: none;
        &:hover{
          background-color: transparent;
        }
        span{
          display: none;
        }
        i{
          display: block;
          font-size: 25px;
          color: #25D366;
          &:hover{
            color: var(--foundation3);
          }
        }

      }
    }

    .start{
      flex-direction: column;
      width: fit-content;
      ul{
      flex-direction: column;
      &.display-none{
        display: none;
      }
    }
    }

  }

}


