<app-nav></app-nav>

<section class="about">

  <aside class="profile" data-aos="fade-right">
    <img src="assets/imgs/profile4.jpg" alt="">
    <h2>{{info.name}}</h2>
    <p>{{info['last_name']}}</p>
    <div class="social">
      <a [href]="info.linkedin" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a [href]="info.facebook" target="_blank"><i class="fa-brands fa-facebook-f" ></i></a>
      <a [href]="info.insta" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <button routerLink="/contact">Contact Me</button>
  </aside>

  <section class="details">

    <article class="about-me">
      <h2 data-aos="fade">ABOUT ME</h2>
      <p data-aos="fade" data-aos-delay="200">{{info['about']}}</p>
    </article>

    <section class="experience">
      <h2 data-aos="fade" data-aos-delay="200">EXPERIENCE</h2>
      <article data-aos="fade" data-aos-delay="400" *ngFor="let exp of experience">
        <h4>{{exp.date}}</h4>
        <h3>{{exp.job}}</h3>

        <ng-container *ngFor="let des of exp.des">
          <h5>{{des.title}}</h5>
          <p>{{des.description}}</p>
        </ng-container>

      </article>
    </section>

    <article class="education" *ngFor="let edu of education">
        <h2 data-aos="fade">EDUCATION</h2>
        <h4 data-aos="fade" data-aos-delay="200">{{edu.date}}</h4>
        <h3 data-aos="fade" data-aos-delay="200">{{edu.title}}</h3>
        <p data-aos="fade" data-aos-delay="200">
          {{edu.description}}
        </p>
    </article>

    <article class="courses" data-aos="fade" data-aos-delay="400">

      <h2 >COURSES & SKILLS</h2>

      <ng-container *ngFor="let cource of courses">
        <div>
          <h4>{{cource.date}}</h4>
          <h3>{{cource.name}}</h3>
        </div>
      </ng-container>


    </article>

    <article class="languages" data-aos="fade">
      <h2>LANGUAGES</h2>

      <ng-container *ngFor="let language of languages">
        <h3>{{language.name}}</h3>
        <p>{{language.description}}</p>
      </ng-container>

  </article>

  </section>



</section>


<app-footer></app-footer>
