<app-nav></app-nav>

<section class="grid">

  <article class="title">
    <img src="assets/imgs/profile3.jpg" alt="">
    <div>
      <h1>A Telecommunication Engineer</h1>
      <h2>Mohamed Sayed</h2>
      <h3>I like to troubleshoot and get resolutions to technical challenges</h3>
    </div>
    <i routerLink="/about" class="fa-regular fa-circle-right"></i>
  </article>

  <article class="aim">
    <h2>
      Aiming To Develop My Skills and Get a Challenging Positions.
    </h2>
  </article>

  <article class="social">
    <a href="https://www.linkedin.com/in/mohamed-sayed-sayed-abdelkhalek-68b538137/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://www.facebook.com/bnice1217" target="_blank"><i class="fa-brands fa-facebook-f" ></i></a>
    <a href="https://www.instagram.com/mohameda4shraf/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </article>

  <article class="skills">
    <h2>Specialization</h2>
    <p>
      MW TX Huawei, RAN Integrator Huawei, UPS Schneider, HCNA(R&S), HCIA-5G, GSM, UMTS, LTE and FTTX .
    </p>
  </article>

  <article class="education">
    <h2>Education</h2>
    <p>
      B.Sc. in Engineering of Communication and Electronics with Grade <strong>Very Good with Honor</strong>

    </p>
  </article>

  <article class="work">
    <h2>Work</h2>
    <p>
      MW TX Project Delivery Technical Engineer at <strong>Huawei</strong>
    </p>
  </article>

  <article class="let">
    <p>
      Let's <br>
      work <span>together</span>.
    </p>
    <i routerLink="/contact" class="fa-regular fa-circle-right"></i>
  </article>

  <article class="experience">
    <h2>05</h2>
    <p>Years Experience</p>
  </article>

  <article class="cources">
    <h2>+10</h2>
    <p>Trainings and certificates</p>
  </article>


</section>

<app-footer></app-footer>
